.header {
    padding-bottom: 20px;
    background: #ECEFF1;
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    position: fixed;
    margin-top:0;
    width: 100%;
    color: lightgrey;
}
.title {
    font-size: 40px;
    color: #2A77AE;
    text-align: center;
  }
.score {
    text-align: right;
    color: red;
  
}